<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap"
        rel="stylesheet">
  <title>Registration</title>

</head>
<body>

<div class="header">
  <a href=""><img src="../../assets/Logo.png" alt=""></a>
  <div class="header-right">
    <a href="/register">Registration</a>
    <a href="/about">About</a>
    <a href="/auditoriums">Auditoriums</a>
    <a href="/bookings">Reservations</a>
    <a href="/booking">Make a reservation</a>
  </div>
</div>
<div class="container">
  <div class="container3">
    <h1>Register</h1>
    <p>Please fill in this form to create an account.</p>
    <form (submit)="register(Email, Firstname, Lastname, Password)">
      <h1>Sign up</h1>
      <ul id="form-messages"></ul>
      <input type="email" placeholder="Email" id="email" name="email" required #Email/>
      <input type="text" placeholder="First Name" id="first_name" name="first_name" required #Firstname/>
      <input type="text" placeholder="Last Name" id="last_name" name="last_name"  required #Lastname/>
      <input type="password" placeholder="Password" id="password" name="password" required #Password/>
      <button type="submit" id="btn-submit" class="btn2">Sign Up</button>



    </form>
    <!--<button type="submit" class="btn">Registration</button>-->

  </div>
</div>
</body>
</html>
