<body>

<div class="header">
  <a href=""><img src="../../assets/Logo.png"></a>
  <div class="header-right">
    <a href="/register">Registration</a>
    <a href="/about">About</a>
    <a href="/auditoriums">Auditoriums</a>
    <a href="/bookings">Reservations</a>
    <a href="/booking">Make a reservation</a>
  </div>
</div>

<div class="intro__inner">
  <h4 class="intro__subtitle2">What we do:</h4>
  <h4 class="intro__subtitle2">Our website will help you to reserve
    any available auditorium for time from an hour and up to 5 days.
    Look at some of our features:</h4>
</div>

<div class="row">
  <div class="column">
    <div class="about__item">
      <div class="about__img">
        <img src="assets/1.png" alt="">
      </div>
      <div class="about__text">Auditoriums with projectors for your big team</div>
    </div>
  </div>
  <div class="column">
    <div class="about__item">
      <div class="about__img">
        <img src="assets/2.png" alt="">
      </div>
      <div class="about__text">Modern and fast equipment</div>
    </div>
  </div>
  <div class="column">
    <div class="about__item">
      <div class="about__img">
        <img src="assets/3.png" alt="">
      </div>
      <div class="about__text">Large conference halls</div>
    </div>
  </div>
</div>




</body>
