body {
  background-color: #c2b500;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  -webkit-background-size: cover;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: black;
}
* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
/*containers*/
.container {
  padding-top: 50px;
  width: 100%;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container3 {
  margin: auto;
  width: 100%;
  padding: 50px;
  background-color: black;
  color: #c2b500;
  text-align: center;
}
/*intro*/
.intro__inner {
  width: 100%;
  max-width: 880px;
  margin: auto;
  text-align: center;
}
.centered{
  width: 100%;
  max-width: 880px;
  margin: 50px auto;
  text-align: center;
}
.intro__inner2 {
  color: black;
  width: 100%;
  max-width: 880px;
  margin: 40px auto;
  text-align: center;
}
.intro__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}
.intro__subtitle {
  font-size: 20px;
}
.intro__subtitle2 {
  margin: 20px auto;
  font-size: 40px;
}
/* header */
.header {
  overflow: hidden;
  background-color: black;
}
.header a {
  float: left;
  padding: 12px;
}
.header-right {
  padding: 12px;
  float: right;
}
.header-right a {
  float: left;
  color: #c2b500;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
.header-right a:hover {
  background-color: #c2b500;
  color: black;
}
/* about */
.about {
  margin: auto;
  width: 100%;
}
.about__item {
  width: 100%;
  position: relative;
  background-color: black;
}
.about__item:hover .about__img {
  transform: translate3d(0, -10px, 0);
}
.about__item:hover .about__img img {
  opacity: 0.2;
}
.about__item:hover .about__text {
  opacity: 1;
}
.about__img {
  background: linear-gradient(to top, black, #c2b500);
  transition: transform 0.2s linear;
}
.about__img img {
  display: block;
  transition: opacity 0.1s linear;
}
.about__text {
  width: 100%;
  color: black;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  position: absolute;
  top: 50%;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.2s linear;
  transform: translate3d(0, -50%, 0);
}
/* Button */
.btn {
  display: inline-block;
  vertical-align: top;
  padding: 8px 30px;
  border: 3px solid #c2b500;
  font-size: 14px;
  font-weight: 700;
  color: #c2b500;
  text-transform: uppercase;
  text-decoration: none;
  transition: background 0.1s linear, color 0.1s linear;
}
.btn:hover {
  background-color: #c2b500;
  color: black;
}
.btn2 {
  display: inline-block;
  vertical-align: top;
  padding: 8px 30px;
  border: 3px solid black;
  font-size: 14px;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  transition: background 0.1s linear, color 0.1s linear;
}
.btn2:hover {
  background-color: black;
  color: #c2b500;
}

/* Profile */
.main {
  margin: 0 auto;
  flex: 50%;
  background-color: black;
  padding: 20px;
  text-align: center;
  border: 5px solid #c2b500;
}
.side {
  flex: 50%;
  background-color: black;
  padding: 20px;
  text-align: center;
  border: 5px solid #c2b500;
}
/* Cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: black;
}
.row {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  color: #c2b500;
}
.column {
  float: left;
  width: 33%;
  padding: 10px 10px;
  color: #c2b500;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
/* registration/login */
input[type=text], input[type=password], input[type=email], input[type=number] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
hr {
  border: 1px solid #c2b500;
  margin-bottom: 25px;
}
/* Reservation */
div.elem-group {
  margin: 20px 0;
}
div.elem-group.inlined {
  width: 49%;
  display: inline-block;
  float: left;
  margin-left: 1%;
}
label {
  display: block;
  padding-bottom: 10px;
  font-size: 1.25em;
}
input, select, textarea {
  border-radius: 2px;
  border: 2px solid #777;
  box-sizing: border-box;
  font-size: 1.25em;
  width: 100%;
  padding: 10px;
}
div.elem-group.inlined input {
  width: 100%;
  display: inline-block;
}
textarea {
  height: 100px;
}
/* media */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
